<mat-dialog-content>
  <div class="modal-container">
      <div class="modal">
          <div class="cart">
              <h1 class="cart-title">Your Cart ({{ cart!.length }})</h1>
              @if(cart && cart.length > 0){
                  <div>
                      @for(item of cart;track item){
                          <div class="cart-item">
                            <h4 class="cart-item-name">{{ item.name }}</h4>
                            <div class="item-calculation">
                              <span class="item-quantity">{{ item.quantity }}x</span>
                              <span class="item-unit-price"> &#64;${{ item.price }}</span>
                              <span class="total-item-price">${{ item.price * item.quantity }}</span>
                            </div>
                            <img class="cart-item-remove-icon unfocused"
                                 [src]="variables.imgUrls.removeFromCart"
                                 alt="icon">
                            <img (click)="removeItem(item.id)" class="cart-item-remove-icon focused"
                                 [src]="variables.imgUrls.removeFromCartHovered" 
                                 alt="icon">
                          </div>
                      }
                    <div class="hr"></div>
                
                    <div class="cart-total">
                      <span class="cart-total-price">Order Total</span>
                      <h2 class="cart-total-title">${{ totalOrder }}</h2>
                    </div>
                    <div class="delivery-service-tag">
                      <img src="assets/carbon-neutral.svg" alt="carbon-neutral">
                      <span>This is a <strong>carbon-neutral</strong> delivery</span>
                    </div>
                    <button class="confirm-order-btn" (click)="confirmOrder()">
                      Confirm Order
                    </button>
                  </div>
          
              }
            </div>
      </div>
  </div>
</mat-dialog-content>