<div class="container">
    <div class="page-elements">
        <div>
            <h1 class="page-title">Desserts</h1>
        <div class="product-list">
            @for(product of products | async; track product){
                <div class="product-item-container">
                    <div class="info-up">
                        <picture class="pic">
                            <source media="(min-width: 768px)" type="image/webp" [srcset]="product.image.tablet">
                            <source media="(min-width: 1024px)" type="image/jpeg" [srcset]="product.image.desktop">
                            <img class="product-img" [src]="product.image.mobile" alt="cart-item-image">
                        </picture>
                        <!-- <img class="product-img" [src]="product.image.desktop" alt="cart-item-image"> -->
                        @if(!(isInCart(product) | async)){
                            <button (click)="addToCart(product)" class="basic-btn add-to-cart-btn">
                                <img [src]="variables.imgUrls['cartIcon']" alt="" srcset="">
                                <span>Add To Cart</span>
                            </button>
                        }
                        @else {
                            <button class="basic-btn inc-dec-cart-btn">
                                <span (click)="decreaseQuantity(product)" class="reduce-cart-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" fill="none" viewBox="0 0 10 2"><path id="decreaseIcon" fill="#fff" d="M0 .375h10v1.25H0V.375Z"/></svg>
                                </span>
                                <span>{{ (getQuantity(product) | async) }}</span>
                                <span class="increase-cart-item" (click)="increaseQuantity(product)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10"><path id="increaseIcon" fill="#fff" d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"/></svg>
                                </span>
                            </button>
                        }
                    </div>
                    <div class="info-down">
                        <span class="product-short-name">{{product.category}}</span>
                        <h4 class="product-long-name">{{product.name}}</h4>
                        <span class="product-price">{{product.price | currency}}</span>
                    </div>
                </div>
            }@empty {
                <span>loading...</span>
            }
        </div>
        </div>
        <div class="cart">
            <h2 class="cart-title">Your Cart ({{ (cart | async)?.length}})</h2>
            <div>
                @for(item of cart | async; track item){
                    <div class="cart-item">
                        <h4 class="cart-item-name">{{item.name}}</h4>
                        <div class="item-calculation">
                            <span class="item-quantity">{{item.quantity}}x</span>
                            <span class="item-unit-price"> &#64;${{item.price}}</span>
                            <span class="total-item-price">${{item.price * item.quantity}}</span>
                        </div>
                        <img class="cart-item-remove-icon unfocused"
                            [src]="variables.imgUrls.removeFromCart"
                            alt="icon" srcset=""
                        >
                        <img (click)="removeFromCart(item.id)" class="cart-item-remove-icon focused"
                            [src]="variables.imgUrls.removeFromCartHovered" 
                            alt="icon" srcset=""
                        >
                    </div>
                    <div class="hr"></div>
                    }
                    @empty {
                        <div class="cart-empty">
                            <div class="cart-empty-img">
                                <img src="assets/images/illustration-empty-cart.svg" alt="cart-empty-icon" srcset="">
                            </div>
                            <span>Your added items will appear here</span>
                        </div>
                    }
            </div>
            @if ((cart | async)?.length) {
                <div class="cart-total">
                    <span class="cart-total-price">Order Total</span>
                    <h2 class="cart-total-title">${{ totalOrder | async }}</h2>
                </div>
                <div class="delivery-service-tag">
                    <img src="assets/carbon-neutral.svg" alt="" srcset="">
                    <span>This is a <strong>carbon-neutral</strong> delivery</span>
                </div>
                <button (click)="confirmOrder()" class="confirm-order-btn">
                    Confirm Order
                </button>
            }
    </div>
</div>

<app-modal [class]="variables.showModal ? 'show':'hide'"/>